.hidden {
  display: none;
}


div.project {
  background: white;
  width: 205px;
  height: 305px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

div.border-box {
  display: flex;
  flex-wrap: wrap;

}

div.content-box {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  justify-content: center;

}

div.card-box {
    margin: 0 10px 20px 10px;
}

div.content-list {
  display: flex;
  flex-direction: row;

}

div.project-pic {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fcc20f;
  height: 160px;
  border-bottom: .5px solid #d5d7e0;
  transition: filter 500ms ease-in-out;
}
div.card-pic {
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
}

img.imgThumbnail {
  width: inherit;
  height: inherit;
}

div.project-pic:hover {
  filter: brightness(80%);
}

div.card-title {
  color: #343b50;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

div.card-title:hover {
  text-decoration: underline;
}

div.card-name {
  color: #9da4b9;
  font-size: 13px;
  font-weight: normal;
}

div.card-name:hover {
  text-decoration: underline;
}

div.card-name::after {
  margin-top: 20px;
  background-color: #ccc;
  bottom: 5px;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  width: 10px;
}

div.card-text {
  margin-top: 0px;
  padding: 7px 10px 0 10px;
}


div.card-text > span {
  list-style: none;
  color: #434b63;
}
