

div.profileCanvas {
  width: 95%;
  height: 100%;
}

div.profileFrame {
  display: grid;
  height: 100%;
  background-color: transparent;
}



div.profileBox {
  display: flex;
  background-color: transparent;
  margin-left: 5%;
  margin-top: 40px;
  min-height: 350px;
}


div.profileSidebar {
  width: 400px;
  height: 100%;
  border: 1px solid #E8E8E8;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

div.profile-body {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #E8E8E8;
}

img.profileUPimg {
  width: 180px;
  border-radius: 50%;
  height: 180px;
}


div.profileUP {
  text-align: center;
  padding: 20px;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-self: center;
}

div.profile-body-content-box {
  padding: 20px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.Podpis {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #464956;
}

div.PodpisAbout {
  margin: 20px;
  text-align: center;
  font-size: 16px;
  color: #717788;
}

div.update-user-link {
    display: flex;
    position: absolute;

}

textarea.about-form {
  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  color: #717788;
  resize: none;
  border: none;
}

textarea.about-form:hover {
  cursor: pointer;
}

textarea.about-form:focus {
  outline: 0;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  cursor: pointer;
}

div.update-user-link > input {
  cursor: poiner;
  height: 180px;
  width: 180px;
  background: rgba(19, 19, 19, 0.5);
  border-radius: 50%;
  opacity: 0;
}

div.update-user-link {
  height: 180px;
  width: 180px;
  background: rgba(19, 19, 19, 0.3);
  border-radius: 50%;
  transition-timing-function: 500 ease-in-out;
}

div.update-user-link {
  cursor: pointer;
}

img.photo-icon-upload {
  width: 70px;
  height: 42px;
  margin-top: 110px;
  opacity: 0.5;
  position: fixed;
  margin-left: 52px;
}
