// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #EAEDF6;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.hidden {
  display: none;
}

.back {
  display: flex;
  justify-content: center;
  background-color:  #EAEDF6;
}

.logo {
  height: 60px;
  padding-left: 40px;
  float: left;
}

.logo2 {
  width: 127px;
  float: left;
  padding-left: 8px;
}

div.sighup-to-cont {
  font-weight: lighter;
  float: left;
  color: black;
  font-size: 10px;
}

header {

}

.errors-div {
  margin: 5px;
  background-color: inherit;
  font-size: 14px;
  color: grey;
  width: inherit;
  align-content: center;
  text-align: center;
  opacity: 0.6;
}



a {
  text-decoration: none;
}

div.login-signup {
  display: flex;
  align-items: baseline;
  line-height: 3.7;
  display: flex;
  justify-content: center;
}


.login-btn {
  margin-right: 40px;

}

div.buttons {
  display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(43, 43, 43, 1);
}

.signUp-btn {
  background-color: #0057ff;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-top: 9px;
  border-radius: 50px;
  cursor: pointer;
  transition: filter 500ms ease-in-out;
  font-size: 14px;
}

.signUp-btn:hover {
  filter: brightness(80%);
}

.login-cont {
  color: #a4a4a4;
  // transition-property: color;
  // transition: filter 500ms ease-in-out;
}

.login-cont:hover {
  color: white;
}

.login-cont:visited {
  color: #a4a4a4;
}

.signup-cont {
  margin-right: 40px;
}

.signUp-btn {
  height: 35px;
  width: 85px;

}

.header-name {
  color: #a4a4a4;
  margin-right: 20px;
}

.header-name:hover {
  color: white;
}

.header-button {
  // background-color: #0057ff;
  background-color: transparent;
  // padding-left: 14px;
  // padding-right: 14px;
  // padding-bottom: 9px;
  // padding-top: 9px;
  // border-radius: 50px;
  cursor: pointer;
  transition: filter 500ms ease-in-out;
  font-size: 14px;
  color: #a4a4a4;
  border: none;
  // margin-right: 16px;
  margin-left: 27px;
  font-weight: 600;
}
.header-button:hover {
  color: white;
}

.urname {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerUP {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 40px;
}

img.headerUPimage {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  margin-right: 40px;
}

.log-form {
  // text-align: center;
}

.login-form-container {
  margin: 20px;
  width: 350px;
  height: 250px;
  background-color: inherit;
  // display: block;
  // color: #a7a7a7;
  // font-size: 20px;
  opacity: 0.8;

}

.blue-link {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 13px;
  color: #a7a7a7;
}
.blue-link:visited {
  color: #a7a7a7;
}

a:visited {
    color: white;
}

ul.login-signup > li:link {
  color: black;
}
ul.login-signup > li {
  list-style: none;
  margin-left: 20px;
}

button.demo-button {
  height: 25px;
  width: 60%;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  text-overflow: ellipsis;
  border-width: 1px;
  color: white;
  background-color: #0057ff;
  margin-left: 12px;
}

p.signup-to-cont {
  color: grey;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

div.two-buttons {
  display: flex;
  margin-top: 10px;
}

div.first-submit {
  float: left;
  width: 100%;
}

div.demo-button-div {
  float: left;
  width: 100%;
}

input.login-input {
  font-style: italic;
  height: 25px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #acacac;
  padding: 0 0 1px 12px;
  width: 77%;
}

div.navlink {
  color: black;
}
div.navlink.Link:active {
  color: #0057ff;
}

.link:visited {
  color: #0057ff;
}

div.errors{
  display: block;
  margin-left: 10px;
}

ul.errors {
  float: left;
  font-size: 13px;
  color: #fd345e;
  font-weight: lighter;
  list-style: disc inside none;
}
div.errors > ul.errors {
  list-style: disc inside none;
}
div.errors > ul.errors > li {
  margin-left: 20px;
  list-style: disc;
}

.submit-button {
  height: 25px;
  width: 60%;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  text-overflow: ellipsis;
  border-width: 1px;
  color: white;
  background-color: #0057ff;
  margin-left: 12px;
}

.login-form {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
