// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #EAEDF6;
  font-family: 'adobe-clean', sans-serif;
}

.header {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.back {
  display: flex;
  justify-content: center;
  background-color:  #EAEDF6;
}

.logo {
  height: 60px;
  padding-left: 20px;
  float: left;
}

.logo2 {
  width: 100px;
  float: left;
  padding-left: 10px;
}

div.sighup-to-cont {
  font-weight: lighter;
  float: left;
  color: black;
  font-size: 10px;
}

header {
  background: #2b2b2b;
  color: white;
  height: 60px;
}

.errors-div {
  margin: 5px;
  background-color: inherit;
  font-size: 14px;
  color: grey;
  width: inherit;
  align-content: center;
  text-align: center;
  opacity: 0.6;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
}



ul {
  margin-left: 8px;
  list-style: disc;
}

.logout-cont {
  text-align: center;
}

.blue-button {
  display: flex;
  justify-content: center;
  align-self: baseline;
  align-content: space-between;
  text-align: center;
}



.login-signup {
  margin: 10px;
  margin-right: 115px;
  text-transform: uppercase;
  background-color: #0057ff;
  font-size: 12px;
  cursor: pointer;
  height: 39px;
  font-weight: 400;
  border-radius: 40px;
  min-height: 30px;
  width: 145px;
  line-height: 40px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.login-signup:hover {
  background-color: #003ad3;
}

.header-name {
  text-align: right;
  margin-right: 13px;
  line-height: 60px;
  color: #a7a7a7;
}

.header-group {
  display: inline-flex;
  flex-direction: row-reverse;
  text-align: center;
}
.header-button:hover {
  background-color: #003ad3;
}

.header-button {
  margin: 13px;
  margin-right: 35px;
  text-transform: uppercase;
  background-color: #0057ff;
  font-size: 12px;
  cursor: pointer;
  color: white;
  border: 3px solid #0057ff;
  font-weight: 400;
  border-radius: 40px;
  min-height: 30px;
  width: 130px;
  line-height: 24px;
  align-self: center;
  text-align: center;
  top: auto;
}

.log-form {
  // text-align: center;
}

.login-form-container {
  margin: 20px;
  width: 350px;
  height: 250px;
  background-color: inherit;
  // display: block;
  // color: #a7a7a7;
  // font-size: 20px;
  opacity: 0.8;

}

.blue-link {
  margin-left: 10px;
  margin-top: 15px;
  font-size: 13px;
  color: #a7a7a7;
}
.blue-link:visited {
  color: #a7a7a7;
}

a:visited {
    color: white;
}

ul.login-signup > li:link {
  color: black;
}
ul.login-signup > li {
  list-style: none;
  margin-left: 20px;
}

button.demo-button {
  height: 25px;
  width: 60%;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  text-overflow: ellipsis;
  border-width: 1px;
  color: white;
  background-color: #0057ff;
  margin-left: 12px;
}

p.signup-to-cont {
  color: grey;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 10px;
}

div.two-buttons {
  display: flex;
  margin-top: 10px;
}

div.first-submit {
  float: left;
  width: 100%;
}

div.demo-button-div {
  float: left;
  width: 100%;
}

input.login-input {
  font-style: italic;
  height: 25px;
  margin: 10px;
  border-radius: 4px;
  border: none;
  padding: 0 0 1px 12px;
  width: 77%;
}

div.navlink {
  color: black;
}
div.navlink.Link:active {
  color: #0057ff;
}

.link:visited {
  color: #0057ff;
}

div.errors{
  display: block;
  margin-left: 10px;
}

ul.errors {
  float: left;
  font-size: 13px;
  color: #fd345e;
  font-weight: lighter;
  list-style: disc inside none;
}
div.errors > ul.errors {
  list-style: disc inside none;
}
div.errors > ul.errors > li {
  margin-left: 20px;
  list-style: disc;
}

.submit-button {
  height: 25px;
  width: 60%;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  text-overflow: ellipsis;
  border-width: 1px;
  color: white;
  background-color: #0057ff;
  margin-left: 12px;
}

.login-form {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
