<!DOCTYPE html>
<html>
  <head>
    <title>Flounce</title>
     <link rel="shortcut icon" type="image/ico" href="https://s3.us-east-2.amazonaws.com/clone-app-dev/favicon.png"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
